In [1]:
import pandas as pd
import seaborn as sns

penguins = sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [2]:
# Apply conditional formatting to the DataFrame
def highlight_rows(row):
    value = row.loc['body_mass_g']
    if value > 4000:
        color = '#90EE90' # Green
    elif value > 3500:
        color = '#ffffe0' # Yellow
    else:
        color = '' # Blank
    return ['background-color: {}'.format(color) for r in row]

In [3]:
formatted_penguins = penguins.style.apply(highlight_rows, axis=1)
formatted_penguins

In [4]:
formatted_penguins.to_excel('styled_tips.xlsx', engine='openpyxl',
                                                 index=False)

C:\Users\georg\anaconda3\lib\site-packages\pandas\io\formats\excel.py:414: CSSWarning: Unhandled color format: ''
  warnings.warn(f"Unhandled color format: {repr(val)}", CSSWarning)